# remove python related files
__pycache__
*.pyc

# remove pytorch related files (models, data)
data/
*.pth

# any data from training, testing, evaluation, ...
*.wav
*.mid

# file related MAC OS
.DS_STORE